@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

@import 'normalize';
@import 'mixins'; 

$gray: #adb8ce;
$white: #fff;
$dark-gray: #3c3c3c;

* {
	box-sizing: border-box;
}

html {
	font: 10px/1.6 'Lato', serif;
	height: 100%;
}

body {
	font-size: 1.6rem;
	font-weight: 300;
	color: $dark-gray;
	height: 100%;
}

header {
	height: 100%;
	position: relative;
}

.container {
	max-width: 900px;
	width: 96%;
	margin: 0 auto;
}

.section {
	padding: 115px 0;
	text-align: center;
	&--bg {
		background-color: $gray;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		color: $white;
	}
	&__box {
		padding: 30px 160px;
		&--bordered {
			border: 2px solid $dark-gray;
			border-top: none;
			h2 {
				position: relative;
				&:before,
				&:after {
					content: '';
				}
			}
		}
	}
}

h1,h2 {
	font-weight: 700;
	letter-spacing: 5px;
	text-transform: uppercase;
	line-height: 1.2;
}

h1 {
	font-size: 5.4rem;
}

h2 {
	font-size: 3.4rem;
}

h3 {
	font-size: 1.5rem;
	font-weight: 400;
	text-transform: uppercase;
}

p {
	margin: 30px;
}

.scroll {
	position: absolute;
	left: 50%;
	bottom: 70px;
	transform: translate(-50%, 50%);
	@include hover {
		opacity: .5;
	}
}